<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background-image login-form">
  <div class="app-logo">
    <!-- Aquí podrías añadir una imagen o texto para el logo -->
    <img src="assets/mundus.png" alt="App Logo" />
    <!-- o si es un título en lugar del logo, podrías usar -->
    <!-- <h1>Nombre de la App</h1> -->
  </div>
  
  
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="username" type="text" required></ion-input>
    </ion-item>
    

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</ion-button>
  </form>

  <ion-button expand="block" color="secondary" (click)="goToRegister()">Registrarse</ion-button>

</ion-content>



