.background-image {
    --background: url(/assets/img3.png) no-repeat center center / cover;
  }

.login-form {
  margin-top: 50px; /* Ajusta el valor para separar el formulario */
}
.app-logo {
  border-radius: 50px;
  text-align: center;
  margin-bottom: 30px; /* Ajusta este valor según el espacio necesario */
}
