.background-image {
  --background: url(/assets/img3.png) no-repeat center center / cover;
}

.login-form {
  margin-top: 50px; /* SEPARA EL FORMULARIO DEL LOGO*/
}

.app-logo {
  border-radius: 50px;
  text-align: center;
  margin-bottom: 30px; /*SEPARA EL FORMULARIO DEL LOGO */
}

