.background-image {
  --background: url(/assets/backblue.png) no-repeat center center / cover;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  
p{
    margin-top: 10px;
    font-size: 18px;
    color: #666;
}





/*
ion-spinner {
    width: 100px;
    height: 50px;
    
  }


width: 2550px;
height: 1919px;
left: -354px;
top: -101px;
*/

