<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>DETALLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <div class="image-container" (click)="toggleFlip()">
    <!--Imagen  de lugar historico-->
    <div [ngClass]="{'flipped': isFlipped}" class="image-wrapper">
      <img [src]="imageUrl" alt="Nombre de la imagen" class="custom-image" />
      <div class="image-description">
        <p>{{ description }}</p>
      </div>
    </div>
    <!--Nombre del lugar historico en el borde inferior de la imagen-->
    <div class="image-name">
      {{ attractionName }}
    </div>
  </div>
  <div class="geolocation-info" *ngIf="isFlipped">
    <p><strong>Tu ubicación:</strong></p>
    <p>Latitud: {{ userLatitude }}</p>
    <p>Longitud: {{ userLongitude }}</p>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tiempo estimado de viaje en carreta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Tiempo estimado para llegar a {{ attractionName }}: {{ estimatedDays }} días.</p>
    </ion-card-content>
  </ion-card>

  <!--Comentarios de los usuarios -->
  <div class="comments-section">
    <h2>Comentarios</h2>
    <ion-list>
      <ion-item *ngFor="let comentario of currentComentarios">
        <ion-label>
            <p>{{ comentario.usuario }}:</p>
            <p *ngIf="!comentario.isEditing">{{ comentario.texto }}</p>
            <!--Ya no veo el placeholder, pero eso esta bien -->
            <!--no quiero quebrar nada asi que lo dejaremos asi-->
            <ion-input 
                *ngIf="comentario.isEditing" 
                [(ngModel)]="comentario.texto" 
                placeholder="Edita tu comentario"
            ></ion-input>
        </ion-label>
        <ion-buttons slot="end">
            <!--boton de eliminar solo para el USUARIO ACTUAL -->
            <ion-button color="danger" *ngIf="comentario.usuario === userName" (click)="deleteComment(comentario.key, comentario)">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
            <!--boton de editar solo para el USUARIO ACTUAL -->
            <ion-button color="secondary" *ngIf="!comentario.isEditing && comentario.usuario === userName" (click)="editComment(comentario)">
                <ion-icon name="create"></ion-icon>
            </ion-button>
            <!--boton para confirmar edicion -->
            <ion-button color="success" *ngIf="comentario.isEditing" (click)="submitEdit(comentario)">
                <ion-icon name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
    </ion-list>
    
    <!--campo de entrada y boton para agregar un comentario -->
    <div class="add-comment-input" *ngIf="isAddingComment">
      <ion-input [(ngModel)]="newCommentText" placeholder="Escribe tu comentario aquí"></ion-input>
      <ion-button class="circular-button" (click)="submitComment()">
        <ion-icon slot="icon-only" name="paper-plane"></ion-icon> <!-- Ícono de avión de papel -->
      </ion-button>
    </div>

    <!--boton para mostrar el campo de entrada de comentario -->
    <div class="add-comment-button" *ngIf="!isAddingComment">
      <ion-button fill="clear" (click)="showCommentInput()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>



<style>
  .comments-section {
    padding: 10px;
  }
  .add-comment-input {
    margin-top: 10px;
  }
</style>