<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>DETALLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!-- Contenedor de la imagen -->
  <div class="image-container">
    <!-- Imagen -->
    <img src="assets/notre_dame.jpg" alt="Nombre de la imagen" class="custom-image">
    
    <!-- Nombre en el borde inferior de la imagen -->
    <div class="image-name">
      Notre Dame
    </div>
  </div>

  <!-- Comentarios de los usuarios -->
  <div class="comments-section">
    <h2>Comentarios</h2>
    <ion-list>
      <ion-item *ngFor="let comentario of comentarios">
        <ion-label>
          <p>{{ comentario.usuario}}:</p>
          <p>{{ comentario.texto }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
