.background-image {
  --background: url(/assets/backblue.png) no-repeat center center / cover;
}

.image-container {
  position: relative;
  text-align: center;
  margin: 20px auto;
  width: 100%;
  max-width: 400px; 
  cursor: pointer; 
}

.image-wrapper {
  position: relative;
  perspective: 1000px; 
}

.custom-image {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.6s; 
}

.image-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); 
  border-radius: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0; 
  transition: opacity 0.6s; 
  color: white; 
  padding: 10px; 
}

.flipped .custom-image {
  transform: rotateY(180deg); 
}

.flipped .image-description {
  opacity: 1; 
}

.image-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 18px;
}

.comments-section {
  padding: 20px;
}

.comments-section h2 {
  text-align: center;
  margin-bottom: 10px;
}


ion-item {
  --border-color: transparent; 
  border: none; 
  --background: #f9f9f9; 
  border-radius: 8px; 
  margin-bottom: 10px;
}

.add-comment-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

ion-button {
  --color: #FF7F50;
  font-size: 24px;
}

.add-comment-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; 
  margin-top: 10px; 
}

.add-comment-input ion-input {
  --padding-start: 10px;
  --padding-end: 10px;
  --background: #fff;
  --color: #000; 
  border-radius: 5px;
}

.circular-button {
  --border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  --padding: 0; 
  --background: #FF7F50; 
  color: white; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}
ion-input {
  --color: #000; 
}

.comments-section {
  padding: 20px;
  background-color: transparent; 
}


.comments-section h2 {
  text-align: center;
  margin-bottom: 10px;
  color: white; 
}


.comment-item {
  background-color: #fff; 
  border-radius: 8px; 
  padding: 10px; 
  margin: 10px 0; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.comment-text {
  color: #000; 
  flex-grow: 1;
  margin-right: 10px; 
}


.comment-icons {
  display: flex;
  gap: 10px; 
}

ion-icon {
  --color: #FF7F50;
  cursor: pointer;
}