<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Previous" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Imagen de fondo del mapa -->
  <div class="map-background">
    <!-- Botón circular para navegar a otra página -->
    <ion-fab style="top: 300px; right: 80px;">
      <ion-fab-button (click)="navigateToOtherPage()">
        <ion-icon name="navigate-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <!-- 
  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>-->
